name: Check
on:
  push:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read
  packages: read
  actions: write

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Free Disk Space
        uses: ./.github/templates/clear-space

      - name: Install linux dependencies
        run: sudo apt-get update && sudo apt-get install -y clang libssl-dev llvm libudev-dev protobuf-compiler pkg-config

      - name: Install Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          cache: 'false'

      - uses: ./.github/templates/rust-cache
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          name: check-x86_64-unknown-linux-gnu
          save: false

      - name: Clippy
        run: cargo clippy --workspace
        env:
          CARGO_INCREMENTAL: 0
          SKIP_WASM_BUILD: 1
          SQLX_OFFLINE: true
  test:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-22.04
            target: x86_64-unknown-linux-gnu
          - os: macos-latest
            target: aarch64-apple-darwin

    name: Build
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4

      - name: Free Disk Space
        uses: ./.github/templates/clear-space

      - uses: ikalnytskyi/action-setup-postgres@v7
      - uses: ./.github/templates/minio

      - name: Install linux dependencies
        if: ${{startsWith(matrix.os, 'ubuntu')}}
        run: sudo apt-get update && sudo apt-get install -y clang libssl-dev llvm libudev-dev protobuf-compiler pkg-config

      - name: Install mac dependencies
        if: startsWith(matrix.os, 'macos')
        run: |
          brew install protobuf llvm@18
          # need to use more modern llvm than what is on mac to build secp256k1 for wasm
          echo "LDFLAGS=-L/opt/homebrew/opt/llvm@18/lib" >> $GITHUB_ENV
          echo "CPPFLAGS=-I/opt/homebrew/opt/llvm@18/include" >> $GITHUB_ENV
          echo "RUSTFLAGS=-C linker=/opt/homebrew/opt/llvm@18/bin/clang" >> $GITHUB_ENV
          echo "CC=/opt/homebrew/opt/llvm@18/bin/clang" >> $GITHUB_ENV
          echo "CXX=/opt/homebrew/opt/llvm@18/bin/clang++" >> $GITHUB_ENV

      - uses: ./.github/templates/rust-cache
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          name: cargo-${{ matrix.target }}

      - name: Install Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          cache: 'false'
          target: ${{matrix.target}}

      - uses: taiki-e/install-action@v2
        with:
          tool: sqlx-cli@0.8.5

      - name: Migrate Notary Db
        working-directory: notary
        run: cargo sqlx database setup

      - name: Create and Set Database URL
        working-directory: localchain
        run: |
          touch ${{ runner.temp }}/temp.db
          chmod 777 ${{ runner.temp }}/temp.db
          echo "DATABASE_URL=sqlite://${{ runner.temp }}/temp.db" > .env
          cat .env

      - name: Migrate Localchain Db
        working-directory: localchain
        run: cargo sqlx database setup

      - name: Show space before build
        run: df -h

      - name: Build
        run: cargo build --features=ci --features=try-runtime --bins
        env:
          CARGO_INCREMENTAL: 0
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SQLX_OFFLINE: ${{ startsWith(matrix.os, 'macos') }}

      - name: Show space before tests
        run: df -h

      - name: Run tests
        run: cargo test --features=ci --features=try-runtime --no-fail-fast --lib --bins -- --nocapture
        timeout-minutes: 90
        env:
          CARGO_INCREMENTAL: 0
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          RUST_LOG: info
          CI: true
          SQLX_OFFLINE: ${{ startsWith(matrix.os, 'macos') }}
