name: Create Release Assets

permissions:
  contents: read

on:
  push:
    branches:
      - v[0-9]+.*

env:
  RUST_BACKTRACE: 1
  CARGO_INCREMENTAL: 0
  CARGO_NET_GIT_FETCH_WITH_CLI: true
  CARGO_NET_RETRY: 10
  RUSTFLAGS: -D warnings
  RUSTUP_MAX_RETRIES: 10
  CARGO_TERM_COLOR: always
  SQLX_OFFLINE: true

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

jobs:
  create-release:
    runs-on: ubuntu-22.04
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: If published release exists, exit
        run: |
          PUBLISHED_RELEASE_EXISTS=$(gh release list --json tagName,isDraft --jq ".[] | select(.tagName==\"${{ github.ref_name }}\" and .isDraft == false) | .tagName" | head -n 1)
          if [[ -n "$PUBLISHED_RELEASE_EXISTS" ]]; then
           exit 1
          fi
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Check if draft release exists
        run: |
          RELEASE_EXISTS=$(gh release list --json tagName --jq ".[] | select(.tagName==\"${{ github.ref_name }}\") | .tagName" | head -n 1)
          if [[ -n "$RELEASE_EXISTS" ]]; then
           echo "RELEASE_EXISTS=true" >> $GITHUB_ENV
          else
            echo "RELEASE_EXISTS=false" >> $GITHUB_ENV
          fi
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract changelog for the current version
        run: |
          # Extract changelog section for the specified version
          sed -n "/^## \[${{ github.ref_name }}\]/,/^### \[v/p" CHANGELOG.md | sed '$d' > changelog.txt
          cat changelog.txt  # Print the extracted changelog

      - name: Create draft release if not exists
        if: env.RELEASE_EXISTS == 'false'
        run: gh release create ${{ github.ref_name }} --draft --title "${{ github.ref_name }}" --notes-file changelog.txt --target ${{ github.ref_name }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  upload-assets:
    name: ${{ matrix.target }}
    needs:
      - create-release
    strategy:
      fail-fast: false
      matrix:
        include:
          - target: aarch64-unknown-linux-gnu
            os: ubuntu-22.04-arm
          - target: x86_64-unknown-linux-gnu
          - target: aarch64-apple-darwin
            os: macos-latest
          - target: x86_64-apple-darwin
            os: macos-latest
          - os: windows-latest
            target: x86_64-pc-windows-msvc

    runs-on: ${{ matrix.os || 'ubuntu-22.04' }}
    timeout-minutes: 90
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Free Disk Space
        if: (matrix.os == '' || startsWith(matrix.os, 'ubuntu'))
        uses: ./.github/templates/clear-space

      - name: Install linux dependencies
        if: (matrix.os == '' || startsWith(matrix.os, 'ubuntu'))
        run: |
          sudo apt-get update
          sudo apt-get install -y clang libssl-dev llvm libclang-dev libudev-dev protobuf-compiler pkg-config
          echo "LIBCLANG_PATH=$(llvm-config --libdir)" >> $GITHUB_ENV

      - name: Install mac dependencies
        if: startsWith(matrix.os, 'macos')
        run: |
          brew install protobuf llvm@18
          # need to use more modern llvm than what is on mac to build secp256k1 for wasm
          echo "LDFLAGS=-L/opt/homebrew/opt/llvm@18/lib" >> $GITHUB_ENV
          echo "CPPFLAGS=-I/opt/homebrew/opt/llvm@18/include" >> $GITHUB_ENV
          echo "RUSTFLAGS=-C linker=/opt/homebrew/opt/llvm@18/bin/clang" >> $GITHUB_ENV
          echo "CC=/opt/homebrew/opt/llvm@18/bin/clang" >> $GITHUB_ENV
          echo "CXX=/opt/homebrew/opt/llvm@18/bin/clang++" >> $GITHUB_ENV
          echo "LIBCLANG_PATH=/opt/homebrew/opt/llvm@18/lib" >> $GITHUB_ENV

      - name: Install windows deps (Windows)
        if: startsWith(matrix.os, 'windows')
        shell: powershell
        run: |
          choco install protoc --yes
          choco install cmake --installargs 'ADD_CMAKE_TO_PATH=System' --yes
          echo "VCPKG_ROOT=$env:VCPKG_INSTALLATION_ROOT" | Out-File -FilePath $env:GITHUB_ENV -Append
          vcpkg install openssl:x64-windows-static-md
          echo "OPENSSL_DIR=$env:VCPKG_INSTALLATION_ROOT\installed\x64-windows-static-md" | Out-File -FilePath $env:GITHUB_ENV -Append
          echo "OPENSSL_STATIC=1" | Out-File -FilePath $env:GITHUB_ENV -Append
          echo "OPENSSL_NO_VENDOR=1" | Out-File -FilePath $env:GITHUB_ENV -Append

      - name: Install
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          cache: 'false'
          target: ${{ matrix.target }}

      - uses: taiki-e/setup-cross-toolchain-action@v1
        with:
          target: ${{ matrix.target }}

      - uses: taiki-e/upload-rust-binary-action@v1
        if: (matrix.os == '' || startsWith(matrix.os, 'ubuntu'))
        with:
          bin: argon-node
          features: metadata-hash
          target: ${{ matrix.target }}
          archive: $bin-$tag-$target
          token: ${{ secrets.GITHUB_TOKEN }}
          ref: refs/tags/${{ github.ref_name }}

      - uses: taiki-e/upload-rust-binary-action@v1
        if: (matrix.os == '' || startsWith(matrix.os, 'ubuntu'))
        with:
          bin: argon-notary
          target: ${{ matrix.target }}
          archive: $bin-$tag-$target
          token: ${{ secrets.GITHUB_TOKEN }}
          ref: refs/tags/${{ github.ref_name }}

      - uses: taiki-e/upload-rust-binary-action@v1
        with:
          bin: argon-localchain
          target: ${{ matrix.target }}
          archive: $bin-$tag-$target
          token: ${{ secrets.GITHUB_TOKEN }}
          ref: refs/tags/${{ github.ref_name }}

      - uses: taiki-e/upload-rust-binary-action@v1
        if: (matrix.os == '' || startsWith(matrix.os, 'ubuntu'))
        with:
          bin: argon-oracle
          target: ${{ matrix.target }}
          archive: $bin-$tag-$target
          token: ${{ secrets.GITHUB_TOKEN }}
          ref: refs/tags/${{ github.ref_name }}

      - uses: taiki-e/upload-rust-binary-action@v1
        with:
          bin: argon-bitcoin-cli
          target: ${{ matrix.target }}
          archive: $bin-$tag-$target
          token: ${{ secrets.GITHUB_TOKEN }}
          ref: refs/tags/${{ github.ref_name }}
